@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'flowbite/dist/flowbite.css';
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Font */
.inter{
                    font-family: "Inter", sans-serif;
                    font-optical-sizing: auto;
                    font-style: normal;
                  }